<% @incidents.each do |i| %>
  <tr class="hover:bg-grey-lighter">
      <td class="py-2 px-4 border-b border-grey-light"><%=i.title%></td>
      <td class="py-2 px-4 border-b border-grey-light"><%=i.description%></td>
        <%if i.severity == "sev2"%>
          <td class="py-2 px-4 border-b border-grey-light text-red-500"><%=i.severity%></td>
        <%elsif i.severity == "sev1"%>
          <td class="py-2 px-4 border-b border-grey-light text-yellow-400"><%=i.severity%></td>
        <%else%>
          <td class="py-2 px-4 border-b border-grey-light"><%=i.severity%></td>
        <%end%>
      <td class="py-2 px-4 border-b border-grey-light"><%=i.reporter%></td>
      <td class="py-2 px-4 border-b border-grey-light"><%=i.created_at.strftime('%B %d, %Y')%></td>
  </tr>
<%end%>
