<div class="flex-1 p-4 w-full md:w-1/2">
  <div class="mt-3 bg-white p-4 shadow rounded-lg">
    <div class="bg-white p-4 rounded-md mt-4">
    <h2 class="text-yellow-500 text-lg font-semibold pb-4"><i class="fas fa-capsules mr-2"></i>Daily Medicine Report</h2> 
    <a id="dispense" class="mr-3 text-white text-sm bg-blue-500 py-1.5 px-1.5 my-1.5 rounded transition duration-200 hover:bg-blue-700 hover:text-white" href="/daily_report">
    <i class="fas fa-file-alt mr-2"></i>Daily User Actions
    </a>
    <a id="dispense" class=" text-white text-sm bg-yellow-500 py-1.5 px-1.5 my-1.5 rounded transition duration-200 hover:bg-yellow-700 hover:text-white" href="/daily_report_medicine">
      <i class="fas fa-capsules mr-2"></i>Medicine Report
    </a>
    <a id="dispense" class=" text-white ml-3 text-sm bg-blue-500 py-1.5 px-1.5 my-1.5 rounded transition duration-200 hover:bg-blue-700 hover:text-white" href="/daily_report_medical_supply">
      <i class="fas fa-house-medical mr-2"></i>Medical Supply Report
    </a>
    <div class="mt-5" style="margin-bottom:-5px;">
    <%== pagy_nav(@pagy) %>
    </div>
        <div class="my-1"></div>
        <div class="bg-gradient-to-r from-cyan-300 to-cyan-500 h-px mb-6"></div>
        <table class="w-full table-auto text-sm">
            <thead>
                <tr class="text-sm leading-normal">
                  <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-left">Name</th>
                  <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-left">Brand</th>
                  <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-left">Description</th>
                  <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-left">Quantity</th>
                  <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-left">Expiration Date</th>
                  <th class="py-2 px-4 bg-grey-lightest font-bold uppercase text-sm text-grey-light border-b border-grey-light text-left">Status</th>                  
                </tr>
            </thead>
            <tbody>
              <% @supplies.each do |i| %>
                <tr class="hover:bg-grey-lighter">
                    <td class="py-2 px-4 border-b border-grey-light underline text-blue-500 hover:text-blue-700"><%= link_to i.name, "/supply/#{i.id}" %></td>
                    <td class="py-2 px-4 border-b border-grey-light"><%=i.brand%></td>
                    <td class="py-2 px-4 border-b border-grey-light"><%=i.description%></td>
                    <td class="py-2 px-4 border-b border-grey-light"><%=i.quantity%></td>
                    <td class="py-2 px-4 border-b border-grey-light"><%=i.expiration.strftime("%B #{i.expiration.day.ordinalize}, %Y %I:%S %p")%></td>
                    <td class="py-2 px-4 border-b border-grey-light"><%=(i.expiration.to_date - DateTime.now.to_date).to_i%> Days left</td>
                    
                </tr>
              <%end%>
            </tbody>
        </table>
    </div>
  </div>
</div>
