<!DOCTYPE html>
<html>
<head>
  <title>Your App</title>
  <!-- Include the CSS stylesheet -->
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <%= turbo_stream_from "sort-toggle" %>

  </head>
<body class="bg-gray-100">
  <!-- Include the sidenav -->
  <%= render 'shared/header' %>

  <!-- Main content -->
  <div class="flex ml-64 p-8">
    <%= yield %>
  </div>

</body>
</html>

<%= javascript_include_tag 'application' %>